{% extends 'base.html' %}

{% block contents %}

{% block contents %}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Add Client</h4>
                
            </div>
            <div class="card-body p-4">

                <div class="row">
                    <form action="" method="Post" class="forms-sample">
                        {%csrf_token%}
            
                         {{form}}

                        </div>
                        
                         <button type="submit" class="btn btn-primary m-2">Update Client</button>
                      </form>
                        
                    </div>

                     </div>
    </div> <!-- end col -->
</div>
    
    
{% endblock contents %}